/* Global */
html, body {
  margin:0;
  padding:0;
}

/* Header */
.hh-color {
  width: 200px;
  height: 80px;
  padding-bottom: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  position: relative;
  display: inline-block;
}

header {
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
  background-color: #001e33;
}

nav {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  padding: .5em .0;
  padding-bottom: 1.5em;
  margin: 0 auto;
  margin-top: 0em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    text-align: center;
    width: 50%;
    padding-bottom: 0em;
    padding-top: .25em;
    margin-bottom: 1em;
    line-height: 1;
}

nav a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: .75em;
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
}

nav a:hover {
  border-bottom: 2px solid #8ec73e;
	padding-bottom: 0.25em;
}
/* End Header */

h1 {
  font-family: Bitter, Verdana, serif;
  color: #fed956;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
}
h2 {
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2em;
}
h3 {
  font-family: Bitter, Verdana, serif;
  font-size: 1em;
  color: #001e33;
  text-transform: uppercase;
  text-align: center;
}
h4 {
  color: #001e33;
  text-transform: uppercase;
}
.hh-rooms {
  text-transform: uppercase;
  color: #fed956;
  letter-spacing: 0.10em;
  font-weight: normal;
  text-align: center;
}
p {
  font-family: Roboto, Arial, sans-serif;
  color: #001e33;
  font-size: 0.85em;
}
.search {
  font-family: Bitter, Verdana, serif;
  font-size: 1.15em;
  text-transform: uppercase;
}
.home-image {
  width: 200px;
}
.brews li {
  font-family: Bitter, Verdana, serif;
  font-size: 0.85em;
}
.events {
  color: #fed956;
}

/* Footer */
footer {
  background-color: #8ec73e;
  padding: 2em 5em 2.5em 5em;
  margin: 0 auto;
}
.footer-content {
  text-align: center;
}
.contact-info {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 0.85em;
  line-height: 2;
  max-width: 500px;
  font-family: Roboto, Arial, sans-serif;
  margin: 0 auto;
}
.contact {
  margin-right: 3em;
}
footer ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}
.footer-svg {
  margin-top: 1em;
}

/* Mobile Hide */
.mobileHide img {
  max-width: 75px;
}
.mobileHide {
  background-color: #a5d264;
  padding: 1em 2em 1em 2em;
  font-size: 0.85em;
  margin: 1em 2em 1em 5em;
}
.mobileHide p {
  max-width: 390px;
  color: white;
  font-family: Roboto, Arial, sans-serif;
}
p strong {
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.events {
  display: flex;
  align-items: center;
  padding: 1em;
}
.events-svg {
  margin-right: 3em;
}
/* End Mobile Hide */
/* End Footer */
/* End Global */

/* Page Level Components */
/* Index */
.introimage {
  background-image: url('../images/index_hero.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 4em 4em 4em;
}
.image-text {
  color: white;
}
.brewofthemonth img {
  width: 45%;
  height: 45%;
  margin-right: 1.5em;
  padding: 1em;
  background: #fed956; /* Old browsers */
background: -moz-linear-gradient(top, #fed956 0%, #fed956 69%, #fed956 69%, #fed956 69%, #ffffff 69%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fed956 0%,#fed956 69%,#fed956 69%,#fed956 69%,#ffffff 69%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fed956 0%,#fed956 69%,#fed956 69%,#fed956 69%,#ffffff 69%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed956', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.brewofthemonth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
}
.monthly-brew p {
  font-size: .85em;
}
.brew-month {
  text-align: left;
}
.pumpkin-info {
  display: inline;
}
/* End Index */

/* Brews */
.introimage2 {
  background-image: url('../images/products_hero.jpg');
  background-size: cover;
}
.products-hero {
  padding: 3em 2em 2em 2em;
  text-align: center;
}
.products-hero p {
  color: white;
  line-height: 1.6;
}
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search p {
  font-size: 0.85em;
}
.search {
  background-color: #001e33;
  color: white;
}
input {
  background-color: #334b5c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  width: 200px;
  height: 20px;
}
input::-webkit-input-placeholder {
color: #001e33 !important;
}

/* End Brews */

/* About */
.hh-story {
  background-color: #001e33;
  padding: 1em 2em 1em 2em;
  border-bottom: 4px solid white;
}
.story-p {
  color: white;
  line-height: 1.8;
}
.our-story {
  padding: 0 2em 1em 2em;
}
.introimage3 {
  background-image: url('../images/our-story_hero.jpg');
  background-size: cover;
  padding: 4em 2em 2em 2em;
}
/* End About */
/* End Page Level Components */


@media screen and (min-width: 600px) {
/* Header */
  header {
    text-align: center;
  }
  header svg {
    width: 225px;
    margin-bottom: 1.5em;
    padding-bottom: 0;
    margin-top: 1.5em;
    height: 90px;
  }
  nav {
    padding: .5em;
    max-width: 450px;
    margin-top: .25em;
  }
  nav li {
    display: inline;
		margin: 0 auto;
  }
  nav ul {
    width: auto;
    display: flex;
    justify-content: space-between;
  }
  nav ul li {
    width: inherit;
  }
}
/* End Header */

/* Page Level Components */
/* Index */
.home-image {
  width: 300px;
}
.image-text {
  font-size: 1.2em;
}
/* End Index */

/* End Page Level Components */

/* Footer */

/* End Footer */

@media screen and (min-width: 850px) {
/* Header */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header {
  padding-left: 3.25em;
  }
  header svg {
    float: left;
    margin-bottom: 2.5em;
    width: 125px;
    max-width: 150px;
    height: auto;
  }
  nav {
    margin-top: inherit;
    margin-bottom: inherit;
    margin: inherit;
    padding-right: 0;
  }
  nav li {
    display: inline;
		padding-right: 3.25em;
  }
  nav ul {
    width: auto;
    display: flex;
    justify-content: space-between;
  }
/* End Header */

/* Page Level Components */
/* Index */
.home-image {
  width: 400px;
}
.image-text {
  font-size: 2em;
}
/* End Index */

/* End Page Level Components */

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-content {
  text-align: left;
}
.contact-info {
  font-size: 0.85em;
}
/* End Footer */
}


* {
  box-sizing: border-box;
}
