/* Global */
html, body {
  margin:0;
  padding:0;
}
section {
  display: block;
}
img {
  max-width: 100%
}

/* Header */
.hh-color {
  width: 200px;
  height: 80px;
  padding-bottom: 0;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  position: relative;
  display: inline-block;
}

header {
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
  background-color: #001e33;
}

nav {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  padding: .5em .0;
  padding-bottom: 1.5em;
  margin: 0 auto;
  margin-top: 0em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    text-align: center;
    width: 50%;
    padding-bottom: 0em;
    padding-top: .25em;
    margin-bottom: 1em;
    line-height: 1;
}

nav a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: .75em;
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
}

nav a:hover {
  border-bottom: 2px solid #8ec73e;
	padding-bottom: 0.25em;
}
/* End Header */

h1 {
  font-family: Bitter, Georgia, serif;
  color: #fed956;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
}
h2 {
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2em;
}
h3 {
  font-family: Bitter, Georgia, serif;
  font-size: 1em;
  color: #001e33;
  text-transform: uppercase;
  text-align: center;
}
h4 {
  color: #001e33;
  text-transform: uppercase;
}
.hh-rooms {
  text-transform: uppercase;
  color: #fed956;
  letter-spacing: 0.10em;
  font-weight: normal;
  text-align: center;
}
p {
  font-family: Roboto, Arial, sans-serif;
  color: #001e33;
  font-size: 0.85em;
}
.search {
  font-family: Bitter, Georgia, serif;
  font-size: 1.15em;
  text-transform: uppercase;
}
.home-image {
  width: 200px;
}
.brews li {
  font-family: Bitter, Georgia, serif;
  font-size: 0.85em;
}

/* Footer */
footer {
  background-color: #8ec73e;
  padding: 2em 5em 2.5em 5em;
  margin: 0 auto;
}
.footer-content {
  text-align: center;
}
.contact-info {
  color: white;
  font-size: 0.85em;
  line-height: 2;
  max-width: 500px;
  font-family: Roboto, Arial, sans-serif;
  margin: 0 auto;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.footer-svg {
  max-width: 75px;
  margin-top: 1em;
}

/* Mobile Hide */
.mobileHide img {
  max-width: 75px;
}
.mobileHide {
  background-color: #a5d264;
  padding: 1em 1.5em 1em 1.5em;
  font-size: 0.85em;
  margin: 1em 1.5em 1em 2em;
}
.mobileHide p {
  max-width: 390px;
  color: white;
  font-family: Roboto, Arial, sans-serif;
}
p strong {
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.events {
  display: flex;
  align-items: center;
  padding: 1em;
}
.events-svg {
  margin-right: 2em;
}
/* End Mobile Hide */
/* End Footer */
/* End Global */

/* Page Level Components */
/* Index */
.introimage {
  background-image: url('../images/index_hero.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 4em 4em 4em;
}
.brew-of-the-month img {
  width: 350px;
  display: block;
  margin: 0 auto;
}
.brew-of-the-month figcaption {
  margin-top: 2em;
  line-height: 1.6;
}
.brew-of-the-month {
  margin: 3em 0 3em 0;
}
.icons h3 {
  color: #fed956;
  letter-spacing: 0.20em;
}
.food {
  background-color: #334b5c;
  padding: 2em;
}
.food img {
  width: 400px;
  display: block;
  margin: 0 auto;
}
.beer {
  background-color: #001e33;
  padding: 2em;
}
.beer img {
  width: 400px;
  display: block;
  margin: 0 auto;
}
.growlers img {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.growlers {
  padding: 3em 0 3em 0;
  background-color: #fed956;
  }
}
.growlers figcaption {
  margin-top: 2em;
}
.growlers figcaption p {
  line-height: 1.6;
}
/* End Index */

/* Brews */
.introimage2 {
  background-image: url('../images/products_hero.jpg');
  background-size: cover;
}
.products-hero {
  padding: 3em 2em 2em 2em;
  text-align: center;
}
.products-hero p {
  color: white;
  line-height: 1.6;
}
form {
  display: inline-flex;
  align-items: center;
  padding: 1em;
}
.search label {
  font-size: 0.85em;
  margin-right: 2em;
}
.search {
  background-color: #001e33;
  color: white;
  text-align: center;
}
input {
  background-color: #334b5c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  width: 200px;
  height: 20px;
}
input::-webkit-input-placeholder {
color: #001e33 !important;
}
/* End Brews */

/* About */
.hh-story {
  background-color: #001e33;
  padding: 1em 2em 2em 2em;
  border-top: 4px solid white;
}
.hh-story-one {
  background-color: #334b5c;
  padding: 2.5em 2em 2em 2em;
  border-bottom: 4px solid white;
}
.story-icons {
  width: 150px;
  display: block;
  margin: 0 auto;
}
.story-p {
  color: white;
  line-height: 1.8
}
.our-story {
  padding: 2em 2em 3.5em 2em;
}
.our-story p {
  max-width: 970px;
  line-height: 1.8;
  margin: 0 auto;
}
.introimage3 {
  background-image: url('../images/our-story_hero.jpg');
  background-size: cover;
  padding: 4em 2em 2em 2em;
}
/* End About */
/* End Page Level Components */

/* Accordion Tabs */
.accordion-grid {
  margin-top: 2em;
}

.tab-panel {
  display: flex;
  flex-wrap: wrap;
}

.tab-panel figure {
  text-align: center;
  margin: 0 auto;
  width: 48%;
}

.tab-panel figcaption {
  margin-bottom: 4em;
  text-transform: uppercase;
  font-weight: bold;
  color: #001e33;
}

.tab-panel img {
  background: #fed956; /* Old browsers */
  background: -moz-linear-gradient(top, #fed956 0%, #fed956 69%, #fed956 69%, #fed956 69%, #ffffff 69%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fed956 0%,#fed956 69%,#fed956 69%,#fed956 69%,#ffffff 69%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fed956 0%,#fed956 69%,#fed956 69%,#fed956 69%,#ffffff 69%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed956', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  padding: 2em 1em 2em 1em;
}

.tab-panel img:hover {
  background: #8ec73e; /* Old browsers */
  background: -moz-linear-gradient(top, #8ec73e 0%, #8ec73e 69%, #ffffff 69%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8ec73e 0%,#8ec73e 69%,#ffffff 69%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8ec73e 0%,#8ec73e 69%,#ffffff 69%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec73e', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.tab-list {
  background: #001e33;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto, Arial, serif;
}

.tab-item {
  display: block;
  border-top: 2px solid white;
}

.tab-item[data-tab-active] {
  background: #8ec73e;
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
}

.tab-link {
  color: #fff;
  display: block;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
}

.tab-panel {
  padding: 1rem;
}

.tab-panel h2 {
  margin-top: 0;
}

.tab-panel[aria-hidden="true"] {
  display: none;
}
/* End Accordion Tabs */

@media screen and (min-width: 600px) {
/* Header */
  header {
    text-align: center;
  }
  header svg {
    width: 225px;
    margin-bottom: 1.5em;
    padding-bottom: 0;
    margin-top: 1.5em;
    height: 90px;
  }
  nav {
    padding: .5em;
    max-width: 450px;
    margin-top: .25em;
  }
  nav li {
    display: inline;
		margin: 0 auto;
  }
  nav ul {
    width: auto;
    display: flex;
    justify-content: space-between;
  }
  nav ul li {
    width: inherit;
  }
  .contact-info {
    display: flex;
    justify-content: space-around;
  }
}
/* End Header */

/* Page Level Components */
/* Index */
.home-image {
  width: 300px;
}
/* End Index */

/* About*/
/* End About */
/* End Page Level Components */

/* Footer */
/* End Footer */

/* Accordion Tabs */
@media screen and (min-width: 800px) {
  .tab-list {
    background-color: white;
    border-bottom: 2px solid #001e33;
  }
  .tab-item {
    display: inline-block;
    border: none;
  }

  .tab-link {
    color: #001e33;
    display: inline-block;
  }

  .tab-link[data-tab-active]:after {
    display: inline-block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    background: white;
  }
  /* End Accordion Tabs */

  /* Index */
  .brew-of-the-month figure {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  .brew-of-the-month h3 {
    text-align: left;
    font-size: 2em;
  }
  .brew-of-the-month p {
    font-size: 1.4em;
    max-width: 600px;
  }
  .brew-of-the-month img {
    margin: 0;
  }
  .icons {
    display: flex;
  }
  .food {
    width: 50%;
  }
  .beer {
    width: 50%;
  }
  .growlers figure {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  .growlers h3 {
    text-align: left;
    font-size: 2em;
  }
  .growlers p {
    font-size: 1.4em;
    max-width: 600px;
  }
  .growlers img {
    margin: 0;
  }
  /* End Index */
}

@media screen and (min-width: 850px) {
/* Header */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header {
  padding-left: 3.25em;
  }
  header svg {
    float: left;
    margin-bottom: 2.5em;
    width: 125px;
    max-width: 150px;
    height: auto;
  }
  nav {
    margin-top: inherit;
    margin-bottom: inherit;
    margin: inherit;
    padding-right: 0;
  }
  nav li {
    display: inline;
		padding-right: 3.25em;
  }
  nav ul {
    width: auto;
    display: flex;
    justify-content: space-between;
  }
/* End Header */
h3 {
  text-align: center;
}

/* Page Level Components */
/* Index */
.home-image {
  width: 400px;
}
/* End Index */

/* About */
.rooms {
  display: flex;
}
.hh-story-one {
  border: none;
  width: 50%;
}
.hh-story {
  border: none;
  width: 50%;
}
/* End About */
/* End Page Level Components */

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-info {
  display: block;
  font-size: 0.75em;
}
/* End Footer */

/* Accordion Tabs */
.tab-panel figure {
  width: 23%;
}
/* End Accordion Tabs */

}
/* End Media Querie 850px */

@media screen and (min-width: 1050px) {
  .contact-info {
    display: inline-flex;
  }
  .contact {
    margin-right: 3em;
  }
}

* {
  box-sizing: border-box;
}
